nav#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 100%;
    width: 100%;

    & > div {
        height: 100%;
        width: 100%;
    }

    .extra-layer {
        position: fixed;
    }

    .layer-1 {
        background-color: #fdfffc;
    }

    .layer-2 {
        background-color: #235789;
    }

    .layer-3 {
        background-color: #c1292e;
    }

    .layer-4 {
        background-color: #f1d302;
    }

    .menu-content {
        background-color: #020100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
