nav#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 100%;
    width: 100%;

    & > div {
        height: 100%;
        width: 100%;
    }

    .extra-layer {
        position: fixed;
    }

    .layer-1 {
        background-color: #ffd60a;
    }

    .layer-2 {
        background-color: #ffc300;
    }

    .layer-3 {
        background-color: #003566;
    }

    .layer-4 {
        background-color: #001d3d;
    }

    .menu-content {
        background-color: #000814;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
