#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1000;

    .wrapper {
        margin: 1.5rem 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
        }
    }
}
