section#overview {
    width: 100%;
    min-height: 100vh;

    section.banner {
        position: relative;
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 100%
        );

        display: grid;
        place-items: center;

        article {
            width: 40%;
            padding: 3rem;
            border-radius: 30px;

            h2 {
                font-size: 4.3rem;
                font-weight: 800;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}
