section.projects {
    padding: 6rem 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #235789;
    gap: 3rem;

    .button-filter-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .filter-button {
            font-size: 1.2rem;
            font-weight: 800;
            color: #235789;
            background-color: #fdfffc;
            border: none;
            padding: 0.5rem;
            border-radius: 4px;
            overflow: hidden;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: #f1d302;
                mix-blend-mode: darken;
                inset: 0;
                transition: all 0.2s ease-out;
                clip-path: circle(0% at 50% 50%);
            }
        }

        .filter-button.active {
            &::after {
                clip-path: circle(100% at 50% 50%);
            }
        }
    }
}
