@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import url("./_glitch-text-anim.scss");

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: black;
    overflow: hidden;
}

#welcome-page {
    width: 100%;
    height: 100vh;
    position: absolute;

    section.wrapper {
        width: inherit;
        height: inherit;
        position: relative;
        background-color: black;

        h1 {
            font-size: 8rem;
            position: absolute;
            left: 3rem;
            bottom: 0;
            color: white;

            &::first-letter {
                font-size: 13rem;
            }
        }

        .scroll-down {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: scale(2);

            svg {
                fill: white;
                transform: scale(1.5);
                animation: scroll-down-animation 1500ms ease-in-out infinite;
            }
        }
    }
}

@keyframes scroll-down-animation {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}
